.header-container {
    z-index: 99;
    color: white;
    border-bottom: 1px solid #38384F;
}

.header-container-wrapper {
    padding: 0.5% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo h2 {
    font-size: 28px;
    letter-spacing: -1.05px;
    line-height: auto;
    margin: 0;
}

.nav-menu {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.nav-menu h4 {
    margin: 0;
    color: #838391;
}

.nav-menu h4:hover {
    cursor: pointer;
    color: #ffffff;
}

.nav-menu h4 {
    position: relative;
}

.nav-menu h4.active::before {
    content: "";
    position: absolute;
    top: -20px; 
    left: 0; 
    width: 100%; 
    height: 3px; 
    background-color: white; 
}

.nav-menu h4.active {
    color: white;
}

.nav-menu h4.active.mercury::before {
    background-color: #419EBB;
}

.nav-menu h4.active.venus::before {
    background-color: #EDA249;
}

.nav-menu h4.active.earth::before {
    background-color: #6f2ed6;
}

.nav-menu h4.active.mars::before {
    background-color: #D14C32;
}

.nav-menu h4.active.jupiter::before {
    background-color: #D83A34;
}

.nav-menu h4.active.saturn::before {
    background-color: #CD5120;
}

.nav-menu h4.active.uranus::before {
    background-color: #1ec2a4;
}

.nav-menu h4.active.neptune::before {
    background-color: #2d68f0;
}

.mobile-menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .header-container-wrapper {
        flex-direction: column;
    }

    .nav-menu {
        width: 80%;
    }

    .nav-menu h4.active::before {
        top: -5px; 
    }
}

@media only screen and (max-width: 768px) {
    .header-container-wrapper {
        flex-direction: row;
    }
}