.header-container {
    z-index: 99;
    color: white;
    border-bottom: 1px solid #38384F;
}

.header-container-wrapper {
    padding: 0.5% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo h2 {
    font-size: 28px;
    letter-spacing: -1.05px;
    line-height: auto;
    margin: 0;
}

.nav-menu {
    display: flex;
    color: #838391;
    width: 50%;
    justify-content: space-between;
}

.nav-menu h4 {
    margin: 0;
}

.nav-menu h4:hover {
    cursor: pointer;
    color: #838391;
}

.nav-menu h4:active {
    color: #838391;
}

@media only screen and (max-width: 1200px) {
    .header-container-wrapper {
        flex-direction: column;
    }

    .nav-menu {
        width: 80%;
    }
}