body {
  margin: 0;
  font-family: 'Spartan';
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: white;
}

h1 {
  font-family: 'Antonio';
  font-weight: 500;
  font-size: 80px;
  line-height: 103px;
  text-transform: uppercase;
  
}

h2 {
  font-family: 'Antonio';
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -1.5px;
  text-transform: uppercase;
  color: white;
}

h3 {
  font-family: 'Spartan';
  font-weight: 700;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  color: white;
}

h4 {
  font-family: 'Spartan';
  font-weight: 700;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
}

p {
  font-family: 'Spartan';
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: white;
  margin-block: 5%;
}
