.mobile-menu {
    background-color: #070724;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: calc(100vh - 60px);
    z-index: 999;
}

.mobile-menu-container-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%; 
    box-sizing: border-box; 
}

.mobile-menu-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
}

.mobile-menu-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #38384F;
    padding: 4% 0;
    width: 100%;
}

.mobile-menu-nav:hover {
    cursor: pointer;
}

.mobile-menu-nav-planet {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.mobile-menu-planet-name h3 {
    font-size: 15px;
    padding-top: 6px;
    line-height: 0;
    margin: 0;
}